[2016-05-12 11:08] madjam002 opened #1 "Is this necessary?"
Can this functionality not be merged into the original ruby implementation of Pact?

It just seems that the Pact community is extremely fragmented at the moment with various different repos cropping up all trying to do the same thing, I'm thinking it would be best if this kind of functionality could go in Pact itself.

Please fill me in if there is something that I am missing 😕

[2016-06-05 05:54] uglyog commented on #1
This project aims to provide verification of pacts for languages other than Ruby, so having it as a separate repo and package kind of makes sense.

[2016-06-05 05:57] mefellows commented on #1
Apologies I didn't see this earlier @madjam002, I've been fairly active on this recently too!

I agree, it's confusing. Without going into detail, there are pros and cons of putting this in the upstream Pact repository. Mainly, if you are using Ruby you _do not need this_ and it's just extra baggage.

In an ideal world this package wouldn't exist. In fact, it simply wraps the verification library

[2016-06-08 19:14] madjam002 commented on #1
@mefellows Thanks for getting back to me!
I haven't done any Pact work in the past couple of weeks so excuse my ignorance if I've got this completely wrong :smile:

From my understanding, the main feature of this tool is that it wraps the original Pact library allowing you to configure your provider states over HTTP instead of just invoking some Ruby implementation, meaning you can work with any l

[2016-06-10 11:07] mefellows commented on #1
No worries at all.

Actually, this library really only does one thing: wrap up the (language independent) pact verification process into a "binary" that can be used cross-platform and without installing a ruby runtime (I'm using air quotes because Ruby doesn't really have the concept, and we are really wrapping up an entire Ruby runtime for each OS).

The feature you're referring to is actually im

[2016-06-10 11:24] madjam002 commented on #1
@mefellows That sounds great, thanks for the extensive answer. The roadmap seems to be what I was after 😊

[2016-06-10 11:24] #1 closed

[2016-06-10 11:27] mefellows commented on #1
👍

[2016-06-20 07:46] mefellows opened #2 "Support for HTTPS URLs"
See https://github.com/pact-foundation/pact-node/issues/11

[2016-08-09 06:12] ramyaa opened #5 "Specifying Request timeouts"
For now there is no way to specify, the HTTP request timeout in Pact tests. It would be good to have this feature added.

[2016-09-25 23:16] #2 closed

[2016-09-25 23:17] mefellows opened #6 "Provider states should not be required"
The whole provider states rigmarole is and should not be required for simpler use cases. Make this optional.

[2016-09-28 03:45] mefellows opened #7 "Allow passwords with special characters"
See https://github.com/pact-foundation/pact-node/issues/22#issuecomment-250053025

[2016-10-12 10:32] mefellows commented on #7
Closing - issue with Pact Node.

[2016-10-12 10:32] #7 closed

[2016-11-29 14:51] sk1talets commented on #6
@mefellows
hey, what would be the right place to change it? Check a configuration parameter in ProviderStateManager?

[2016-12-01 02:22] mefellows commented on #6
Actually nothing is required - if you don't specify the `--provider_states_url` flag it will simply ignore this.

See: https://github.com/pact-foundation/pact-provider-verifier/blob/master/lib/pact/provider_verifier/pact_helper.rb#L7

[2016-12-01 14:51] sk1talets commented on #6
@mefellows but the tests will fail because of the missing states unless the state names are empty:
[code]

[2016-12-01 21:40] mefellows commented on #6
I see, so basically you are using provider states, but don't want to setup the URLs - yes?

The scenario I was envisaging originally was for tests that didn't use states.

I'll re-open this one, I believe there has been recent discussion on this in the JVM space too.

[2016-12-01 21:47] mefellows commented on #6
I would suggest if we implement this, we should log a warning to note that states exist in the tests, but the supporting setup does not exist.

[2016-12-02 07:58] sk1talets commented on #6
Right. We're trying to use different user accounts with different states instead. But would be still good to have state names as a documentation.

Agree.
I was hoping that it's possible to fix/workaround on the `pact-provider-verifier` side.

[2016-12-03 07:59] mefellows commented on #6
It should be possible - I mean it _is_ Ruby, so pretty much anything is :)

From what I can tell, as long as there is the `set_up` block (https://github.com/pact-foundation/pact-provider-verifier/blob/master/lib/pact/provider_verifier/pact_helper.rb#L34-L42) we should be OK - it can just do nothing.

This should satisfy the needs of `provider_state_manager.set_up_provider_state`.

Potentially, jus

[2016-12-06 08:54] sk1talets commented on #6
But we still need consumer and provider states names, right? Should we take them from pact?

[2016-12-06 09:12] mefellows commented on #6
Yes and yes 😀

On Dec 6, 2016 7:54 PM, "Valeriy Kassenbaev" <notifications@github.com>
wrote:

But we still need consumer and provider states names, right? Should we take
them from pact?

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub
<https://github.com/pact-foundation/pact-provider-verifier/issues/6#issuecomment-265094883>,
or

[2017-04-06 08:27] SchulteMarkus opened #8 "Array "min" not respected"
Hi there,

I have used [pact-jvm-consumer-junit](https://github.com/DiUS/pact-jvm/tree/master/pact-jvm-consumer-junit) for creating a Pact from shop-checkout-service (consumer) to market-service (provider)
- [shop-checkout-service-market-service.txt](https://github.com/pact-foundation/pact-provider-verifier/files/901919/shop-checkout-service-market-service.txt)

I am using pact-provider-verifier f

[2017-04-26 09:41] katloo commented on #8
I'm also having this issue using the pact provider verifier docker image. I'm pulling the latest image; but is it using v2 or is there a way to enforce it?

[2017-04-26 22:34] mefellows commented on #8
Hi all, apologies I didn't see these!

I've recently noticed this myself and if it's not defaulting to v2, I will take it up with the Ruby maintainers.

[2017-04-27 09:58] bethesque commented on #8
Can someone assign this to me (and add me as an admin, because I can't do it myself).

[2017-04-27 11:32] mefellows commented on #8
Done!

[2017-04-28 06:47] mefellows opened #9 "Avoid logging provider state setup details during execution"
When setting up provider states, the verifier outputs something like:

[code]

which is quite obtrusive and not very helpful.

Allow the user to specify if this should be logged via a `-v` (verbose) flag.

[2017-04-28 08:47] #9 closed

[2017-04-30 04:09] mefellows opened #10 "Add ability to specify log dir"
Logs are output to `./log/pact.log`, it would be nice to be able to specify where logs are output.

[2017-04-30 22:10] bethesque commented on #8
The pact writing code on the consumer side is missing one of the rules. Have a look at this example here: https://github.com/pact-foundation/pact-specification/blob/version-2/testcases/request/body/array%20with%20at%20least%20one%20element%20matching%20by%20example.json
The [*].* rule is missing that says, match the *contents* of the array by type. The match: type rule on the array element only ap

[2017-04-30 22:44] uglyog commented on #8
I have raised an issue for this, even though I don't think it is necessary. What is the point of having a type matcher on an array and then have to say that the contents must have an explicit type matcher too.

Surely

                   "$.body.markets": {
                        "min": 1,
                        "match": "type"
                    }

means match the contents of the array by type

[2017-05-01 01:30] bethesque commented on #8
Hm, good point. I feel like I must have had a reason for it though - trying to recall my logic from 3 years ago.

[2017-05-08 05:10] bethesque commented on #10
Will need to add this option to the underlying CLI.

[2017-05-22 09:26] dhoomakethu opened #11 "option to provide pact-broker address is missing"
pact-provider-verifier provides option to specify broker username and broker passwork but does not provide an option to specifiy the broker host url. Trying to publish the results to pact-broker fails .

`bundle exec rake pact:verify:at[riptide_broker:*****@/tmp/pacts/1-2.json] PACT_DESCRIPTION="a request is made to validate user" PACT_PROVIDER_STATE="" # A request is made to validate user

For as

[2017-05-22 12:21] mefellows commented on #11
Hmm what's the use case here? Publishing Verification results?

Currently, the Verifier does not automatically retrieve Pacts from a Pact Broker - it needs to be given the URLs (via `--pact-urls`). If you provide credentials, it will use them as basic auth to authenticate to the each of the URL provided - that may or may not be a Broker.

If those URLs happen to be a Pact Broker, and the pact cont

[2017-05-22 22:19] bethesque commented on #11
It shouldn't blow up though! Let me have a look though.

[2017-05-22 22:32] bethesque commented on #11
I think it's something to do with the version of rspec. What version of rspec are you using?

[2017-05-22 22:54] bethesque commented on #11
I can get it to blow up with 3.0.4, but it works with the latest rspec. @dhoomakethu can you run "gem install rspec" and make sure it gives you 3.6.0.

I'll see what I can do about making the code backwards compatible.

[2017-05-22 23:01] #11 closed

[2017-05-23 03:09] dhoomakethu commented on #11
I am running it on docker container [pact-provider-verifier-docker](https://github.com/DiUS/pact-provider-verifier-docker). Any how as @mefellows suggested I will try with pact-broker urls and see if that helps.

[2017-05-23 04:13] bethesque commented on #11
We'll need a new release of the docker container then. Let me look into it. As matt says, only pacts that can came from a broker can have results published back to a broker.

[2017-05-23 04:19] bethesque commented on #11
@dhoomakethu using pact-broker urls will not help, it's an issue to do with an old version of rspec.

[2017-05-23 04:52] dhoomakethu commented on #11
Ok , I tried with the pact url from a broker running locally (again docker container from [pact-broker](https://hub.docker.com/r/dius/pact_broker/)) , The tests ran as usual but failed to upload the verification results with this warning.

`WARNING: Cannot publish verification for auth as there is no link named pb:publish-verification-results in the pact JSON. If you are using a pact broker, pleas

[2017-05-23 05:06] bethesque commented on #11
The docker broker you have is now deprecated. Can you use this one please? https://hub.docker.com/r/dius/pact-broker/

[2017-05-23 05:11] dhoomakethu commented on #11
Tried both latest and 2.0.0-beta tagged containers, same warning is still observed.

[2017-05-23 05:35] bethesque commented on #11
I've just done a new build and tested it locally, and it's working correctly. Can you check a few things for me? In the response from the broker, you should have the following header `X-Pact-Broker-Version: 2.0.2`. In the pact json, you should also have a link that looks like this:

[code]

[2017-05-23 06:30] dhoomakethu commented on #11
The response does have the field b:pub;lish-verification-results(response attached below),  though I do not see the header you have mentioned
`
{
    "consumer": {
        "name": "auth"
    },
    "provider": {
        "name": "userservice"
    },
    "interactions": [
        {
            "description": "a request is made to validate user with invalid password",
            "request": {

[2017-05-23 07:58] bethesque commented on #11
It's singular, "publish-verification-result" instead of plural "publish-verification-results". That makes me think you've still got an old version of the docker image somehow. I think the singular was only ever in a beta release.

[2017-05-23 09:21] dhoomakethu commented on #11
Ok, I pulled the latest again
`dius/pact-broker                     latest                 38ec76403bf0        4 hours ago         785MB`
The problem with this version is I am not able publish pacts to the broker. I get 403 forbidden for my PUT requests with a warning the log
`WARN -- : attack prevented by Rack::Protection::HttpOrigin`

Note I am running the pact broker on google cloud and pacts a

[2017-05-23 09:49] bethesque commented on #11
The latest version uses Rack::Protection to avoid typical attacks. Something in this code is triggering a denial.

[code]

[2017-05-23 09:52] bethesque commented on #11
What tool are you using to publish the pacts?

[2017-05-23 10:05] dhoomakethu commented on #11
I am using POSTMAN to publish pact . I was able to publish from with in the HAL browser and provider verification tests did publish the results to the broker . I know this if going off topic but is there a way to bypass the Rack::Protection module and publish the pacts ?

[2017-05-23 10:30] bethesque commented on #11
We went off topic ages ago! This was never about the title of the issue ;)

Ah, that makes sense that you're using postman. It had to be from within a browser, otherwise you wouldn't be getting CORS issues. I'm just doing some debugging on my local machine, and I'm surprised to find that postman is setting the Origin header to "chrome-extension://fhbjgbiflinjbdggehcddcbncdddomop". This is what is

[2017-05-23 10:39] bethesque commented on #11
Ok, if you want a quick and dirty fix, here's how to get rid of the origin check.

[code]
I'll work out what to do about a longer term solution in the morning.

[2017-05-23 12:14] dhoomakethu commented on #11
cool, thanks for the hint !

[2017-06-15 09:12] daniel-chambers opened #14 "Multi-value query parameters are not sent to the provider correctly"
In the scenario where the consumer is making a request like:

[code]

I would expect the verifier to make a call to the provider with the URL `/query?such=wow&test=a&test=b`. This does not appear to be happening.

I've made a branch [here][1] where I've added to the test cases in this project to reproduce this problem. I've basically added a new endpoint to the `api.rb` that responds with the quer

[2017-06-15 11:49] mefellows commented on #14
Thanks @daniel-chambers, we'll have to look into this. FYI I won't be able investigate until next week if I'm lucky or the week after (I'm away this weekend and in Sydney for work most of next week).

[2017-06-15 23:30] bethesque commented on #14
I'll have a look when I have a moment. Thanks for making a glorious reproducible example!

[2017-06-18 01:23] bethesque commented on #14
Ok, this is a tricky one. The problem is occurring because the rack code (rack is the underlying http request framework that is use by the majority of ruby web servers) expects the name of a parameter that has multiple values to be suffixed with a `[]` to indicate that it is an array. If you change your query to `{"such":"wow", "test[]": ["a","b"]}` and your expectation to `"Query: such=wow&test[]

[2017-06-18 03:44] bethesque commented on #14
According to the all authoritative stackoverflow [here](https://stackoverflow.com/questions/1746507/authoritative-position-of-duplicate-http-get-query-keys) and [here](https://stackoverflow.com/questions/11621477/using-duplicate-parameters-in-a-url), it seems that there is no HTTP spec for what the correct behaviour should be when there are multiple parameters with the same name. Different framewo

[2017-06-18 03:44] #14 closed

[2017-06-18 06:58] mefellows commented on #14
Great spot @bethesque! I seemed to recall the `[]` being standard, but as you say, annoyingly it's quite ambiguous.

Hopefully most modern web frameworks can deal with both cases.

@uglyog this is something to consider for the shared library, ideally we can support both methods of specifying array query string values.

[2017-06-18 13:39] daniel-chambers commented on #14
I'm personally not so certain the the library's implementation framework's opinions about query parameters should leak through here. It seems strange to me that something that is supposed to replay recorded requests (recorded in JSON, not even in Ruby) should not be able to replay them faithfully as they were recorded.

I have no problem with the `api.rb` consumer here not being able to accept mul

[2017-06-19 00:03] bethesque commented on #8
@uglyog I think it may have something to do with wanting to allow a nested exact type matcher within the array. So you could have

[code]

Though, you could say that you just assume the [*].* rule. Having been back in the matching code again, it's actually the markets[*].* rule that indicates the intent of the matching better than the markets rule. It's the content that we're doing the type based

[2017-06-19 00:18] bethesque commented on #6
This has been done now.

[2017-06-19 00:18] #6 closed

[2017-06-19 00:29] uglyog commented on #8
That's my point, having both is redundant.

[2017-06-19 01:50] bethesque commented on #8
I think I'm convinced. I can't remember my logic for using both. If we're going to keep one, I think it should be "$.body.markets[*].*"

[2017-07-05 09:01] SchulteMarkus commented on #8
Any news here?

[2017-07-05 22:44] bethesque commented on #8
I thought @uglyog had added the extra rule to the JVM impl?

[2017-07-05 22:44] bethesque commented on #8
(We'll likely cut it down to two rules in the next version)

[2017-07-05 23:58] uglyog commented on #8
No, @uglyog added an issue to add the extra rule to the JVM impl.

[2017-07-06 08:36] SchulteMarkus commented on #8
ok - I asked, because I am using the latest JVM-impl. (3.5.0) and I am still having the problem.
@uglyog, can you please link to the JVM-impl. issue?

[2017-07-06 22:26] uglyog commented on #8
https://github.com/DiUS/pact-jvm/issues/416

[2017-07-31 14:09] adamrodger commented on #8
@bethesque @uglyog I'm having exactly the same problem using PactNet 2.0.6-beta (C# library) which uses the standalone Ruby version of Pact Verifier (v1.1.1).

I have this interaction:

[code]

When my service returns exactly 2 animals then the pact passes. However, if my service returns more than two animals then the pact fails, but I thought the "min" rule should prevent that from happening. Whe

[2017-07-31 14:25] adamrodger commented on #8
@bethesque I've found an example from the e2e tests which does exactly what I'm trying to do, so I don't really understand why mine doesn't work :smile:

https://github.com/pact-foundation/pact-ruby-e2e-example/blob/master/consumer/spec/pacts/foo-bar.json

That has
[code]

[2017-07-31 23:44] bethesque commented on #8
There is an extra `  "match": "type"` in the body rules. This may be stuffing it up. It looks like you may have nested `likes` inside each other. Can you show me the code you used to create the pact? And the logs from the mock service?

[2017-08-01 00:46] bethesque commented on #8
Ok, I've updated the ruby code to handle that extra match rule. @neilcampbell I've put out a new release of the ruby standalone. Can you update it when you have a moment?

@adamrodger if you can find where the standalone code is in the .net code on your machine, you can download the latest (1.1.2) package from the [releases](https://github.com/pact-foundation/pact-ruby-standalone/releases) page an

[2017-08-02 00:49] neilcampbell commented on #8
@bethesque @adamrodger This has been updated and released in 2.0.7-beta

[2017-08-08 07:23] bethesque commented on #8
Closing.

[2017-08-08 07:23] #8 closed

[2017-10-11 12:09] emk opened #16 "Packaging broken on Alpine Linux: Error: /bin/sh: ./pact-provider-verifier: not found"
At work, most of our services run inside Docker containers, and most of those Docker containers are based on [Alpine Linux](https://alpinelinux.org/). Alpine Linux is a stripped down Linux distro, with a typical base size between (IIRC) 10 and 35 MB depending on what version and tools you're using. This speeds up container deployments.

Alpine Linux doesn't actually contain a copy of `glibc`. Inst

[2017-10-11 22:06] mefellows commented on #16
I think this has been solved somewhere already, I'll see if I can find the implementation.

Once rust is ready and at feature parity we should move over to it.

[2017-10-12 22:32] bethesque commented on #16
How about you use this? https://github.com/DiUS/pact-provider-verifier-docker

[2017-10-13 04:30] mefellows commented on #16
Yes, that was what I was thinking of :)

[2017-10-20 20:22] dhreines opened #17 "Add Amazon Signature Version 4 Support"
We're looking to run `pact-provider-verifier` against the AWS API Gateway using [Amazon's Signature Version 4](http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html) signing process for authentication. The current custom Authentication header support does not support this mechanism.

[Faraday middleware for AWS Signature Version 4](https://github.com/winebarrel/faraday_middleware-a

[2017-11-07 04:37] bethesque commented on #17
There are a couple of options here. Firstly, we could allow some custom Rack middleware to be configured to do this. Or secondly, we could change the request making framework from rack-reverse-proxy to Faraday, which I'm actually ok with.

How do we ensure that the consumer is correctly signing the request though?

[2017-11-07 05:33] bethesque commented on #17
I'd imagine creating a class like this one, which takes a rack request, turns it into a Faraday request, then turns the response back in to a rack response. https://github.com/waterlink/rack-reverse-proxy/blob/master/lib/rack_reverse_proxy/roundtrip.rb

[2017-11-28 19:18] dhreines commented on #17
In our case, this wouldn't be necessary. We can modify the consumer library to send unsigned `http` requests during pact test execution.

The feature we were requesting was to modify the provider verifier to send AWS Sigv4 requests during all provider verification interactions including the provider state setup and teardown requests.

For now, we're working around the issue by deploying an [AWS AP

[2017-11-29 00:49] bethesque commented on #17
I'm glad you came up with a work around. Dropping the auth is what I would have suggested in a local setup, but I didn't know if it was an option for testing against an API Gateway app. I'll close the issue for now, but we can re-open it if necessary in the future.

[2017-11-29 00:49] #17 closed

[2017-12-12 21:11] ewortzman opened #18 "pact-provider-verifier copies entity-body of DELETE requests into query string"
To replicate:

1. clone [this repo](https://github.com/ewortzman/pact-provider-verify-demo)
2. in the root, execute `python reflect.py`.  This starts a simple server that accepts requests, prints the request received, and responds with a 200
3. run `pact-provider-verifier ./pacts/myconsumer-myprovider.json -h http://localhost:8081`

In the reflect server, you should see:

[code]

You will see:

[c

[2017-12-14 23:48] bethesque commented on #18
This is the behaviour of the underlying Ruby Rack Test framework, and is unfortunately code that I do not control. I would suggest that the feedback that the tools are giving you is that you're doing something very unconventional, and should consider achieving the goal another way. Can you explain what your objective is? Someone may have an idea of how to achieve it in a conventional way.

[2018-01-05 15:40] ewortzman opened #19 "Documentation mismatch on what is expected by the provider state setup url endpoint"
The [documentation for this project](https://github.com/pact-foundation/pact-provider-verifier/blob/master/README.md) for provider states says that the provider state endpoint should accept 2 fields: `consumer` and `state`.  However, when running `pact-provider-verifier` with a `provider-states-setup-url` defined, the actual provider state requests have 3 fields: `consumer` and `state`, which are

[2018-01-09 01:23] bethesque commented on #19
Yes, you're right - the array was an attempt to future proof the code in order to get ready for v3. However, what I didn't think about at the time was that the array will actually be an array of objects, as there are extra parameters that come along with the name. So really, you should just stick with the `state`.

Let's get the documentation updated for the python repo.

[2018-01-09 16:00] ewortzman commented on #19
so will the `pact-provider-verifier` be updated to remove the `states` field?  Or will that field be updated to be a list of objects, rather than strings?

[2018-01-11 21:05] bethesque commented on #19
It will be updated to a list of objects, with the unfortunate side effect of breaking anyone who is currently using the string list. We'll have to make a clear note of that in the release notes, and it will be a major version release.

[2018-01-18 20:20] pastap opened #20 "Cannot publish verification results to broker behind reverse proxy"
Hi,

I've set up a broker behind an nginx reverse proxy for https.  As per [the broker documentation](https://github.com/pact-foundation/pact_broker/wiki/Configuration#running-the-broker-behind-a-reverse-proxy), requests to the broker should be made with header: `{"X-Forwarded-Scheme": "https"}`.

When specifying an `https` pact url to the verifier, without this header, the metadata of the pact fi

[2018-01-18 21:21] mefellows commented on #20
No, we should just make sure intermediate proxies are indeed sending through the correct headers or fix the broker if there is an issue.

I know for a fact that it works because that is how we do it for the hosted broker at pact.dius.com.au

Is there any logging we can output to ensure the right headers are coming thru? The proxy we use passes through all of the headers in the docs you note.

[2018-01-18 22:25] bethesque commented on #20
Here is the documentation for setting up the headers when you are running a reverse proxy over https: https://github.com/pact-foundation/pact_broker/wiki/Configuration#running-the-broker-behind-a-reverse-proxy

[2018-01-18 22:26] bethesque commented on #20
I'm not sure from your description if you are adding the headers manually in the request, or if you are adding the headers in the nginx configuration. Can you confirm @pastap?

[2018-01-18 22:30] bethesque commented on #20
I believe it's this config, but someone correct me if I'm wrong: http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_set_header

[2018-01-18 23:49] mefellows commented on #20
@pastap please see https://github.com/DiUS/pact_broker-docker/issues/58#issuecomment-358819665 for a working example with nginx. As per @bethesque's comment, these headers must be present in the proxy configuration so that the headers are passed on to the broker, not your request _to_ the proxy. Closing, as we can demonstrate that this works.

[2018-01-18 23:49] #20 closed

[2018-01-19 14:07] pastap commented on #20
I was adding the headers manually, and therefore expected a way to pass on these headers using the tool. However, adding proxy headers to the nginx conf makes sense; thank you @bethesque and @mefellows for your help. I'll give that a whirl!

[2018-01-19 22:05] mefellows commented on #20
No worries!

[2018-01-23 14:22] #18 closed

[2018-01-23 14:53] ewortzman opened #21 "[enhancement] add ability to output to a file"
The `pact-provider-verifier` currently has format options to output as JSON or as JUnit.  But the output is still written to the console.  In order to get an actual json or junit file, the output has to be piped to a files using `>>` or `&>` or something. There are a few issues with this:

1. since all contracts go to the same output stream, all contract verifications will be output to the same st

[2018-01-25 01:46] bethesque commented on #21
Yes, good suggestion.

[2018-01-25 01:55] bethesque commented on #21
One thing that slightly complicates the naming of the output files is that you may verify multiple pact versions for the same consumer/provider pair. eg `.../latest/master`, `../latest/prod`. We could add the consumer version number in there, however, this would only be possible if the pact was retrieved from a pact broker.

We could clear out the directory each time, and arbitrarily number the fi

[2018-01-26 15:12] ewortzman commented on #21
I can think of 2 options, but I think there is definitely an issue with how to handle local files vs broker contracts:

1. use a path like `${output_dir}/provider/consumer/${version}_results.xml` or something. Makes it easy to find the contracts after they're run.  But the downside is that local files don't have a version attached
2. for local files, just use `${output_dir}/${relative_path_to_cont

[2018-01-31 15:02] ewortzman commented on #21
To add to this request, it would also be useful to have the ablity to output in multiple formats.  For example, it would be nice to be able to output to STDOUT in Pact's pretty, human-readable format, while also generating a machine parseable junit file that goes to `--output-dir`

[2018-02-04 23:05] bethesque commented on #21
Agreed. Sorry, I can't pick this up right now, as I have a heap of urgent things to look at, but if you'd like to have a go, I'm happy to accept PRs. Changing the output is reasonably straightforward, however, accepting multiple arguments for the streams requires a small hack to Thor that I'd need to copy in from another project.

[2018-03-06 05:33] asbhat1069 opened #22 "Execution hangs with error - 'C:\Program Files (x86)\Python36-32\Lib\site-packages\pact\bin\pact\lib\ruby\bin..\bin.real\ruby.exe: No such file or directory -- Files (LoadError)'"
I am new to pact and am trying to run the pact tests in python , but get this error every time 'C:\Program Files (x86)\Python36-32\Lib\site-packages\pact\bin\pact\lib\ruby\bin..\bin.real\ruby.exe: No such file or directory -- Files (LoadError)' and the execution hangs there ? i see that the file exists in the path . How do i run the tests ? i run from the terminal using 'python -m unittest python-

[2018-03-16 01:26] #22 closed

[2018-04-16 00:09] bethesque commented on #21
I've added a `--out FILE` option to the command in the latest version. It doesn't split the results up per contract yet, but I thought I'd let you know @ewortzman in case it was useful for you anyway as it is.

[2018-04-17 05:53] bethesque commented on #16
Closing.

[2018-04-17 05:53] #16 closed

[2018-04-17 05:55] bethesque commented on #5
Nobody else has requested this feature, so I'm closing for now. Happy to have it re-opened if there is demand for it.

[2018-04-17 05:55] #5 closed

[2018-05-11 17:17] Deseao opened #23 "Add ability to ignore certificate errors on pact urls"
For various reasons my Pact Broker is running over https with a self signed certificate. When I attempt to use this gem, I get an x509: certificate signed by unknown authority error. I would like to be able to call the pact-provider-verifier with a --insecure argument to allow skipping TLS/SSL verification.

[2018-05-13 21:47] bethesque commented on #23
You should be able to give the verifier a certificate using the SSL_CER_FILE or SSL_CERT_DIR env vars.

[2018-05-13 21:52] Deseao commented on #23
Good to know, thank you very much.

[2018-05-13 21:52] #23 closed

[2018-06-11 10:27] souliane opened #24 "array "min" is implemented as "equals""
Hi,
the array "min" rule implementation seems to be wrong, it is a priori doing as "equals" would do.

If my pact defines "min: 3" and the provider returns 3 elements, it works.
If the provider returns 2 elements, it fails as expected.
But if there are 4 elements, it also fails with something like:

`Actual array is too long and should not contain a Hash at $[0].site_address.value.country.meta_inf

[2018-07-05 02:46] bethesque commented on #24
I can't recreate this.

Here is the commit:
https://github.com/pact-foundation/pact-ruby-e2e-example/commit/13090e805507ff4505aecf1691f10561aff3e874

Here is the travis build: https://travis-ci.org/pact-foundation/pact-ruby-e2e-example/builds/400230297

You'll notice that there is an array `Pact.each_like({ location: "Sydney", capacity: 5 }, { min: 3 })` and that the provider returns 4 items. When

[2018-07-13 01:48] mefellows opened #25 "Throw better error messages if invalid pact files given"
It turns out if you pass a valid JSON document to the verifier, that it will return a cryptic error, which bubbles up to the wrapper language.

You can reproduce the issue like so:

[code]

Which should produce:

[code]

A useful error message to help people get to the bottom of the issue would be nice here.

See https://github.com/pact-foundation/pact-node/issues/98 for background.

[2018-07-13 14:18] souliane commented on #24
Hi,

I can't reproduce the issue myself, even when I restore the working environment where it happened... maybe I got confused.

Thanks and sorry for wasting your time! :-/

[2018-07-14 03:12] bethesque commented on #25
The code that throws that is trying to work out which parser to use, and it iterates though all the possible parsers, and that's what gets thrown when none of them match.

How about `This document does not use a recognised Pact format`?

[2018-07-14 03:37] mefellows commented on #25
I think we should also reference the specific URL that is failing, to help diagnosis:

e.g.

`This document does not use a recognised Pact format, please check that <path to file> is a valid pact file`

[2018-07-14 03:52] mefellows commented on #25
This should also help with https://github.com/pact-foundation/pact-go/issues/50.

[2018-07-14 05:57] bethesque commented on #25
Hm. I don't have the reference to the path at that stage - just the hash.

[code]

I'll see what I can do.

[2018-07-14 07:33] mefellows commented on #25
Fair enough. Your first suggestion is at least a good starting point, and the verifier already logs out the file name:

e.f.
[code]

[2018-07-15 22:50] #25 closed

[2018-07-15 22:56] bethesque commented on #25
It actually wasn't hard in the end. It'll be out in the next release.

[2018-07-15 23:01] mefellows commented on #25
Awesome, thanks!

[2018-07-16 12:42] totycro commented on #24
Hi,

I'm working with @souliane on the same project.

Thanks @bethesque for the example branch. I think i managed to get it to fail by nesting the `each_like` inside a `like`:

https://github.com/totycro/pact-ruby-e2e-example/commit/a99b17142252b39d5553b4b3142e6965a977e506

Now the pact only verifies if there are exactly 3 Sydneys and fails with 4, even though `min` is still set to 3.

Could you l

[2018-07-25 11:19] bethesque commented on #24
This will be fixed in the next release of pact-js when @mefellows upgrades to v1.54.1 of the standalone.

[2018-08-22 05:30] mefellows opened #26 "Allow log level to be configurable via the CLI"
AS a client library (e.g. Pact JS)
I would like to be able to control log output of the verifier
SO that it is consistent with the rest of the framework output

Typically, our client interfaces have the ability to specify the log level, and it is surprising when `ERROR` or above is set and the verifier spits out `WARN`s, for example.

If we can control the output in the verifier, we can make the c

[2018-10-07 06:44] vaidik commented on #10
I would like to have this ability too. Makes it difficult to work with mounted volumes in Docker

[2018-10-08 21:08] bethesque commented on #10
This is already implemented. Sorry I didn't remember to close the issue.

[code]

[2018-10-08 21:08] #10 closed

[2018-10-25 14:28] sthomas1978 opened #28 "Publish Results And Tag Provider"
Hi

This is more of a workflow process issue in our CI pipeline and just for me to gain an understanding of how the process works.

When I execute pact-provider-verifier you can specify what consumer tag you would like the provider to be tested against. Is there a way when publishing the results to tag the provider as well?

The above question then leads into my next question

When I want to deplo

[2018-10-26 09:11] sanjimoh opened #29 "Provider verification for a tagged consumer is resulting in verification for other tagged consumers than what is requested for"
In my setup, I've a consumer viz. "test-consumer" publishing it's pact with consumer version "4.0.0" along with tag "sanjit-feature-branch".

When I run my provider side of test case passing consumer tag as "sanjit-feature-branch", I'm noticing the verification results are being verified and published for not only consumer tagged with "sanjit-feature-branch" but also for other consumer versions ha

[2018-10-28 23:49] bethesque commented on #28
It depends which implementation you're using - if there isn't, it needs to be added. Which one are you using?

[2018-10-29 13:45] sthomas1978 commented on #28
Hi Beth

At the moment, I am using the pact-broker-client.

1. Firstly i am using the API to get all latest pacts against a provider for a specified tag
`pacts/provider/PROVIDER/latest/TAG`
2. I iterate over the returned results and call pact-provider-verifier for each apact, which publishes the results and sets the provider version.
3. I then use pact-broker create create-version-tag to tag the p

[2018-10-29 22:22] bethesque commented on #28
Can I ask why you're not already using the [pact-provider-verifier](https://github.com/pact-foundation/pact-provider-verifier#usage)? You can give it the broker base URL and the list of consumer tags. I think the only thing it's missing is the automatic tagging of the provider version when it publishes the results, but I can expose that easily.

[2018-10-29 22:33] sthomas1978 commented on #28
Hi Beth

Apologies I am using the pact-provider-verifier as detailed in step 2

When I said pact-broker-client, I meant the tooling provided generally.

[2018-11-01 03:11] bethesque commented on #29
Is the content of each of these pacts the same? This may answer your question https://docs.pact.io/getting_started/versioning_in_the_pact_broker

[2018-11-01 03:15] bethesque commented on #28
Steps 1 and 2 *are already* combined in the pact provider verifier. This has only been recently added, so perhaps it was not there when you first looked.

[code]

[2018-11-01 11:18] sthomas1978 commented on #28
Hi Beth

Ahhh, yes I did not see this, this has helped alot. I am now using the following to replace Steps 1 and Steps 2

`pact-provider-verifier --pact-broker-base-url http://localhost:1234 --provider-base-url http://localhost:1111 --provider-states-setup-url http://localhost:1111/provider-states --consumer-version-tag <REPO BRANCH>  --provider "<PROVIDER NAME>"`

Although there seems to be an is

[2018-11-01 20:39] bethesque commented on #28
Can you raise a specific issue for that in the pact broker client repository please? I'll have a look at it as soon as I can.

[2018-11-01 20:39] bethesque commented on #28
Before you do, try wrapping the tag in quotes and see if that helps.

[2018-11-01 20:41] bethesque commented on #28
Oh, and please run it with - v and include the debug logs.

[2018-11-05 09:52] sthomas1978 commented on #28
Hi Beth.

I have raised the above under https://github.com/pact-foundation/pact_broker-client/issues/44.

Thanks

[2018-11-07 05:03] sanjimoh commented on #29
Yes, the pact contents are exactly the same across those tags. Once the pact differs in their contents, then only the requested tag gets verified not all. So, as I understand, this behavior is as per the design. Thanks!

[2018-11-14 22:14] bethesque commented on #29
Yes, it is.

[2018-11-14 22:14] #29 closed

[2018-11-15 04:44] bethesque commented on #28
Are there any open issues here now? I'm closing this, but feel free to open if I've missed something.

[2018-11-15 04:44] #28 closed

[2018-11-27 16:30] Dolly2315 commented on #8
I think the issue I am facing is also because of array length  .Can you guys tell me how to write test for it .

https://stackoverflow.com/questions/53503275/pact-provider-verification-expected-an-array-but-got-a-hash

[2018-11-27 16:42] Dolly2315 opened #30 "Array min is not working at provider verification"
At consumer level test is :

[code]

When i verify at provider level , I am getting the error as:

[code]

So it is again and again verifying the same one data of consumer ie id": 8061159 with the huge set of provider data .But in "$.body": {
            "min": 1
          },

min array is already defined though

[2018-11-27 17:50] mefellows commented on #30
The problem is your matcher is incorrect:

Change this:
[code]

to (note removed `[` and `]`)

[code]

Also, you can avoid the `like` statements within an `eachLike` as it is implied by default. If you need to use a different matcher (e.g. a `term` then go for it). So you can actually do this:

[code]

[2018-11-27 17:50] #30 closed

[2018-11-28 11:08] Dolly2315 commented on #30
Thanks

[2019-03-09 22:56] mefellows commented on #26
Update on this issue.

I just noticed this causing an issue for Pact Go when upgrading binary ranges. When serialising the Verification response as JSON, there is an "INFO" message that is printed. So the response comes in something like this:

[code]

I can guard around the non-JSON bits, bit it would be preferable to disable logging (or log to file) in these cases.

I think this commit is the cu

[2019-03-11 23:25] bethesque commented on #26
Needs to be added as an option here: https://github.com/pact-foundation/pact-provider-verifier/blob/master/lib/pact/provider_verifier/cli/verify.rb

here: https://github.com/pact-foundation/pact-provider-verifier/blob/master/lib/pact/provider_verifier/app.rb#L134

and here: https://github.com/pact-foundation/pact-ruby/blob/830d1caf098584ed23f086809c82f6e643e431d8/lib/pact/cli/run_pact_verification

[2019-03-22 12:07] arun290636 opened #32 "unable to verify pact from cli"
running this on mac

below error is displayed when i run - ./pact-provider-verifier --PACT_URL=baseurl/pacts/provider/catalogApi/consumer/magento/latest -h, --provider-base-url=url

pact/lib/vendor/ruby/2.2.0/gems/pact-support-1.9.0/lib/pact/consumer_contract/pact_file.rb:49:in `read'
/Users/arun.kumar/Arun-personal/learning/pact/lib/vendor/ruby/2.2.0/gems/pact-support-1.9.0/lib/pact/consumer_cont

[2019-03-22 20:44] mefellows commented on #32
`--PACT_URL=` is not a flag, each pact you want to specify should be the first first positional arguments to the CLI.

[2019-03-24 21:12] bethesque commented on #32
`./pact-provider-verifier http://broker/pacts/provider/catalogApi/consumer/magento/latest --provider-base-url http://provider`

[2019-03-24 21:12] #32 closed

[2019-03-24 21:13] bethesque commented on #32
Btw, you can actually just give the pact-provider-verifier the base URL of the pact broker, and the name of the provider, and it will work out the rest.

[2019-04-12 12:20] tknino opened #33 "'application/x-www-form-urlencoded' not replayed correctly?"
My consumer test looks like this
[code]

When verifying pact I expect the request to have `client_id=test1&client_secret=***-key&scope=openid+profile+phone+offline_access` like displayed on the screenshot

![verifying1](https://user-images.githubusercontent.com/18438020/56036412-7b9c4700-5d35-11e9-9a82-bbb10d6dbe06.PNG)

Instead, I'm getting this `{"client_id":["test1"],"client_secret":["test1-sec

[2019-04-17 06:28] bethesque commented on #33
Can you please follow the instructions for reproducing the issue using this codebase please? https://github.com/pact-foundation/pact-ruby-e2e-example

[2019-04-17 07:35] tknino commented on #33
My code is in Python. I'm just using [Pact Provider Verifier](https://github.com/pact-foundation/pact-provider-verifier) as it is cross-platform tool (and I had some issues to get the pactman-verifier going)

[2019-04-21 07:25] bethesque commented on #33
The underlying code of the provider verifier is ruby. It would save me time and help me get the bug fixed if you can reproduce it for me. If you can python, you can ruby ;) The instructions are quite straightforward.

[2019-04-21 07:30] bethesque commented on #33
This one might be easier though - you don't have to ruby https://github.com/pact-foundation/pact-ruby-standalone-e2e-example

[2019-04-26 03:15] #24 closed

[2019-04-26 11:21] adambeben opened #34 "Mistake in release notes"
In release notes, under "To install and run on Windows" there is one command:
`.\bin\pact-mock-service.bat -p 1234`
Which is not related to pact-provider-verifier.

[2019-07-02 19:29] tanmoy1990 opened #35 "Json :: Parser Error When end-point returning simple string"
Try to make V2 Contract Test For A Simple End-point. The End-Point is returning Simple String. Consumer Pact is working as expected but provider is failed to validated that. Please help me to resolve this
 Mock Provider Service ::
`_mockProviderService
                          .Given("Get user with id '1'")
                          .UponReceiving("A GET request to retrieve the user")

[2019-07-02 20:54] mefellows commented on #35
You have a matcher that says you expect `applicatinon/json` but are returning a string. That's not JSON. So your matcher needs to update to `text/plain` or your provider needs to return JSON as expected.

[2019-07-02 20:54] #35 closed

[2019-07-03 01:54] tanmoy1990 commented on #35
Thanks @mefellows.
I've changed the except type from `application/json` to `text/plain` but still facing the same issue.

[Pact  File.txt](https://github.com/pact-foundation/pact-provider-verifier/files/3352946/Pact.File.txt)
![image](https://user-images.githubusercontent.com/44140755/60557526-78788c00-9d63-11e9-882c-7cf5faff0968.png)

[2019-07-03 02:00] tanmoy1990 opened #36 "Failed to Compare simple string using pact"
Existing link :: https://github.com/pact-foundation/pact-provider-verifier/issues/35#issue-463397863

[2019-07-03 02:48] tanmoy1990 commented on #36
It seems like pact is always expecting that the end point should return any JSON output instead of any simple output like string

[2019-07-03 08:37] mefellows commented on #35
Your provider seems to be sending `Content-Type: application/json` even though you're returning a string. It shouldn't do this, because it isn't JSON.

Pact is respecting the content-type header in the response.

[2019-07-03 08:38] mefellows commented on #36
If this is indeed true, please provide an example code base that demonstrates this (and ensure the correct headers are being sent by the provider:  `Content-Type: application/json`)

[2019-07-10 13:49] tanmoy1990 opened #37 "Please install the relevant platform and architecture specific PactNet dependency from Nuget. Based on your current setup you should install 'PactNet.Windows'."
Provider Test Cases are successfully executed on local system. But failed to execute on Azure Pipeline. Looks like unable to find PactNet.Windows. Please help me to solve this ......

[2019-07-10 18:38] #36 closed

[2019-07-12 06:42] #37 closed

[2019-09-13 01:22] justindongnz opened #38 "certificate verify failed (OpenSSL::SSL::SSLError) for the ssl that signed by QuoVadis"
The pact provider verifier returns SSL error if the SSL is signed by QuoVadis.

Does pact provider verifier support QuoVadis?
If yes, was it something wrong with my configuration?
If not, is it possible to bypass certificate verification or any other solutions about that?

It's working if the certificate is signed by Amazon but not QuoVadis.
And my QuoVadis signed pact provider is working when usi

[2019-09-15 23:22] justindongnz commented on #38
Thank you very much.
I'll try.

[2019-09-17 12:20] nikunjtilva commented on #38
Hi @bethesque We have tried setting env var SSL_CERT_FILE as well SSL_CERT_DIR but no success. I have a question since we are using nodejs package will these env variables be picked up by ruby runtime?

[2019-09-20 01:22] bethesque commented on #38
Yes, they should be. Can you try an experiment for me?

Set SSL_CERT_FILE to what you think it should be. Then in your terminal run `/app/node_modules/@pact-foundation/pact-node/standalone/linux-x64-1.70.2/bin/irb` (the interactive ruby shell). I just hand typed that line from looking at your screenshot so there may be typos.

Modify this code to point it to your server and execute it.

[code]

If

[2019-09-20 08:01] nikunjtilva commented on #38
Thanks a lot @bethesque I will try this and let u know outcome....

[2019-09-20 08:51] nikunjtilva commented on #38
I have tried it but same error.... I have followed steps as mentioned below...

`export $SSL_CERT_FILE=~/<directorypath>/QuoVadis_Root_CA.crt`

Since i am using Mac irb is located in different path.

`node_modules/@pact-foundation/pact-node/standalone/darwin-1.70.2/lib/ruby/bin/irb`

and there i have executed code you have suggested. But got following result

[code]

This means something is wrong

[2019-09-23 02:05] bethesque commented on #38
Did you actually use a `$` at the start of `SSL_CERT_FILE` or was that just a typo in the comment?

Can you try without it? `export SSL_CERT_FILE=~/<directorypath>/QuoVadis_Root_CA.crt`

[2019-09-23 08:49] nikunjtilva commented on #38
Oh! That's just a typo. A quick editing problem!

Currently we are downloading pact json file explicitly and verify against it. But to upload verification results we must have to use pactbrokerurl in options of pact verifier.

By any chance is there an API to publish the results just like an API to publish pacts?

[2019-09-23 23:26] bethesque commented on #38
Yes, you can publish results https://github.com/pact-foundation/pact-js#publishing-verification-results-to-a-pact-broker

But I think you're saying that you can only publish results if you set the pactBrokerUrl in the config. That shouldn't be the case. You should be able to publish results for any pact that is retrieved from a broker, no matter if you use a direct URL or tell the broker to fetch

[2019-09-23 23:26] bethesque commented on #38
Regarding your original issue, which root cert are you using? Can you paste the contents here?

[2019-09-24 09:09] nikunjtilva commented on #38
May be i was not able to explain well.. For publishing results i must have to fetch pact contract by either using `pactUrls ` or combination of `pactBrokerUrl ` and `providername`. Since we ran into SSL issue we try to download pact file with external node js library without using @pact-foundation package. Save downloaded file locally and run provider verifier against local file using below option

[2019-09-24 09:10] nikunjtilva commented on #38
Regarding original issue... here is content of ROOT_CA certificate

[code]

[2019-09-25 03:48] bethesque commented on #38
Try following these instructions to get the certificate bundle https://github.com/pact-foundation/pact-js/issues/203#issuecomment-532864024

[2019-09-26 08:59] nikunjtilva commented on #38
Pooh!! Tried following the way mentioned in above article. But no luck. I tried to set it in NodeJS app and also in interactive ruby shell.

[2019-09-26 10:55] mefellows commented on #38
@nikunjtilva have you seen this issue: https://github.com/pact-foundation/pact-js/issues/203#issuecomment-532864024

It is documented there how to achieve this.

[2019-09-26 11:16] nikunjtilva commented on #38
yes @mefellows I followed same steps to generate ca_bundle.crt. Also in firefox you can directly export chained certificate.

[2019-10-01 20:33] justindongnz commented on #38
@bethesque  I created the certificate and also export the SSL_CERT_FILE to the cert file.
I'm sure that the certificate is correct.
But it still doesn't use the certificate that I export.
Does it related to the file that located     node_modules/@pact-foundation/pact-node/standalone/linux-x64-1.70.2/lib/ruby/bin/ruby_environment
`#!/bin/bash
ROOT=`dirname "$0"`
ROOT=`cd "$ROOT/.." && pwd`

echo OR

[2019-10-08 01:18] bethesque commented on #38
This line restores the original SSL_CERT_FILE once the ruby process has started https://github.com/pact-foundation/pact-ruby-standalone/blob/master/packaging/pact-provider-verifier.rb#L14

[2019-10-08 01:19] bethesque commented on #38
Can you find and add some debugging to that file to see what it's doing?

[2019-10-09 02:12] justindongnz commented on #38
Hi @bethesque ,

I add debuging in the file node_modules/@pact-foundation/pact-node/standalone/linux-x64-1.70.2/lib/app/pact-provider-verifier.rb
`# This removes ruby specific language from the output and ensures
# the output can be parsed cleanly by wrapper languages
ENV['PACT_EXECUTING_LANGUAGE'] ||= 'unknown'

# Travelling Ruby sets its own CA cert bundle in lib/ruby/bin/ruby_environment
# and

[2019-10-10 20:39] bethesque commented on #38
It looks like the correct value is being set. Is there anything in the cert dir that is conflicting with it?

[2019-10-10 23:04] justindongnz commented on #38
@bethesque ,

I added the cert dir debugging.

print "before if check\n"
print "SSL_CERT_DIR is \n"
print ENV['SSL_CERT_DIR']
print "\n"
print "ORIG_SSL_CERT_DIR is \n"
print ENV['ORIG_SSL_CERT_DIR']
print "\n"

if ENV['ORIG_SSL_CERT_DIR'] && ENV['ORIG_SSL_CERT_DIR'] != ''
  ENV['SSL_CERT_DIR'] = ENV['ORIG_SSL_CERT_DIR']
end
print "after if check\n"
print "SSL_CERT_DIR is \n"
print ENV['SSL_CERT_D

[2019-10-13 22:51] bethesque commented on #38
@nikunjtilva given that [this exercise](https://github.com/pact-foundation/pact-provider-verifier/issues/38#issuecomment-533468210) failed, I am lead to the conclusion that there still must be an issue with the cert file. That is the simplest HTTP request that can be made with the SSL certificate set. If that's not working, I can't see what else the problem could be.

There is an API for publishin

[2019-10-14 08:26] nikunjtilva commented on #38
Thanks @bethesque and @justindongnz  for your support..We will be using API endpoint for publishing results...

[2019-11-10 02:50] mefellows opened #42 "Basic auth credentials not passed through to non-HAL URIs"
See `broker.sh` in https://github.com/mefellows/pact-provider-verifier/pull/new/repro/basic-auth for example, the result is a `401` unauthorized.

![Screen Shot 2019-11-10 at 1 48 42 pm](https://user-images.githubusercontent.com/53900/68537952-d75caa80-03c0-11ea-9416-d9f56218611b.png)

[2019-11-10 03:21] #42 closed

[2019-11-20 12:09] nikunjtilva commented on #38
We have used workaround to post our results through API call. It worked for us.

[2019-12-17 10:44] bogdbo opened #43 "PUBLISH_VERIFICATION_RESULTS=false doesn't work"
`--publish-verification-results=PUBLISH_VERIFICATION_RESULTS`

The above flag cannot be set to false. Any value is considered true. I have tried empty string, 'null', 'nil', 'false', '0'. It's always read as true.

Any ideas?

[2019-12-17 11:39] mefellows commented on #43
Assuming you don't want to publish verification results, could you just not pass the flag at all?

[2019-12-17 11:40] mefellows commented on #43
It's really intended to be a _flag_, rather than an _option_. The presence of the flag indicates a `true` value, and the absence a `false`.

[2019-12-17 11:47] bogdbo commented on #43
I understand, I would have liked it to be configurable though. Maybe my setup is not ideal but I only want to publish the results when running builds from `master` and it's easy to set the value from true to false in my build pipelines but rather annoying to remove a whole flag from the command line. If there's no plan to change this, then feel free to close the issue.

[2019-12-17 11:50] mefellows commented on #43
It might be possible already, but if not, I'll let @bethesque answer the question as to whether it is or will be supported.

[2019-12-17 23:05] bethesque commented on #43
I can change it to allow the flag to be set by an environment variable, just like PACT_BROKER_USERNAME etc. `PACT_BROKER_PUBLISH_VERIFICATION_RESULTS=true`

For now, you can do:

[code]

[2019-12-18 08:32] bogdbo commented on #43
Thanks. I got it working as well in the meantime. I think either checking the ENV variable or updating the documentation would both be reasonable fixes.

[2020-01-11 02:44] bethesque commented on #43
Btw, if you read the output of the `help` command you'll see this:

[code]

[2020-01-11 03:22] #43 closed

[2020-01-11 04:08] bethesque commented on #43
You can now set the environment variable `PACT_BROKER_PUBLISH_VERIFICATION_RESULTS=true`

[2020-01-31 11:14] moritztk opened #48 "No output from pact-provider-verifier"
I dont know what I am doing wrong. It's not working, but I dont get an error neither. When I run
[code]
just nothing happens.
![Screenshot from 2020-01-31 12-13-01](https://user-images.githubusercontent.com/36471066/73535175-3d3a5a80-4423-11ea-9829-bf2cddbc691a.png)

[2020-01-31 12:14] mefellows commented on #48
What are the values of those variables? I was able to reproduce the "nothing response" if `$PACT_URL` was empty. Sounds like at least a better response is warranted in either case!

[2020-02-04 16:34] hhhonzik opened #49 "Implement ProviderState generator to allow injecting parameters to Interactions"
**pact-jvm** supports injecting parameters to Interactions thanks to clever usage of **generators** and **ProviderState** parameters as described here:

- consumer contract implementation: https://github.com/DiUS/pact-jvm/tree/master/provider/pact-jvm-provider-junit#returning-values-that-can-be-injected
- provider state injection: https://github.com/DiUS/pact-jvm/tree/master/provider/pact-jvm-prov

[2020-02-10 16:37] moritztk commented on #48
Thanks for your answer!
It was a value, just replaced it with vars for the screenshot.
Either way, I had to move on now and will tackle this issue another day.

[2020-02-10 16:37] #48 closed

[2020-02-10 17:49] moritztk commented on #48
Ok, I am already back. If it helps, I used the verifier that is shipped with pact-python. I will now double check and let you know about the url.

[2020-02-11 00:24] bethesque commented on #49
I'd be very happy for you to work on this @hhhonzik.

You'll need to coordinate development between the pact-provider-verifier and pact-ruby projects. To do this, check them both out side by side, and then set the environment variable X_PACT_DEVELOPMENT=true in the pact-provider-verifier project before running bundle. This will cause the local copy of pact-ruby to be used instead of the gem depend

[2020-02-11 13:44] fjukstad opened #50 "HTTP Headers with periods (`.`) are ignored"
Hi,

I am trying to verify a Pact where some of the requests require HTTP headers with `.` characters. From inspecting the packets in Wireshark it looks as if the `pact-provider-verifier` is ignoring HTTP headers with `.`.  From [RFC 7230](https://tools.ietf.org/html/rfc7230#section-3.2.6) it looks as if `.` are valid characters and should be included. I expect that all headers with valid characte

[2020-02-11 21:36] bethesque commented on #50
Doing some debugging. When running the Ruby code directly, I can see the header:

[code]

When running the pact-provider-verifier, the header with the . goes missing.

[code]

and I only get `"HTTP_FOOBAR"=>"meep"` in the logs. I suspect it's something to do with the rack reverse proxy gem. I'll keep digging.

[2020-02-11 21:59] bethesque commented on #50
Ok, so the culprit is a line in the rack-proxy gem.

[code]

That regular expression should be `/^HTTP_[A-Z0-9_\.]+$/`. I don't know how much luck I'll have submitting a PR to such a widely used gem, but I'll give it a go. As a fallback, we may have to do some naughty monkey patching.

[2020-02-11 22:13] bethesque commented on #50
PR raised here https://github.com/ncr/rack-proxy/pull/87

[2020-02-12 07:28] fjukstad commented on #50
Great! Thanks for your help and submitting a PR, hopefully we'll get it merged!

[2020-02-13 23:42] bethesque opened #51 "Allow equals signs to be used when multiple parameters are set with the same name"
eg `--consumer-version-tag=foo --consumer-version-tag=bar`

[2020-02-17 10:34] bethesque opened #52 "Show a warning when both username/password AND token are set at the same time"
Or maybe an error?

[2020-02-18 01:00] bethesque commented on #52
Done.

[2020-02-18 01:00] #52 closed

[2020-02-19 09:14] #51 closed

[2020-02-19 09:15] bethesque commented on #51
For @elliottmurray

[2020-02-19 10:39] elliottmurray commented on #51
@bethesque 🥇

[2020-03-16 14:56] tanmoy1990 opened #54 "Ignore/Handle Header matching into Pact File"
Hello Guys,
As per our requirement, Actual end-point returning lots of information into header along with response message. So I not able to make the header property under **WillResondwith** section of MockEndpoint configure. Please help me to figure out the issue by which I can run the provider test.

Header Information Sending By Actual End-Point ::
![image](https://user-images.githubusercontent

[2020-03-17 00:35] bethesque commented on #54
I'm sorry, I don't understand the question. Can you please fill in the following template and create an executable example to demonstrate your problem.

# Pre issue-raising checklist

I have already (please mark the applicable with an `x`):

* [ ] Upgraded to the latest version OR
* [ ] Checked the CHANGELOG to see if the issue I am about to raise has been fixed
* [ ] Created an executable example

[2020-04-23 18:09] ChengLiPP opened #55 "Multiple custom-provider-header"
Hello @bethesque,

When setting up my project I noticed that if multiple custom-provider-header are passed in the cli, later invocation will overwrite the former one. It looks like this

if I do this
`pact-verifier --provider-base-url=http://localhost:18000/ --custom-provider-header="Authorization: ABC" --custom-provider-header="x-app-name: my_app" ./my_contract.json`
The request will only contain

[2020-04-25 00:19] bethesque commented on #55
Thanks for submitting a bug with a reproducible example!

This is a problem with the python wrapper. As you can see in this [build](https://travis-ci.org/github/pact-foundation/pact-ruby-standalone-e2e-example/builds/679268635#L241) both headers are applied (commit [here](https://github.com/pact-foundation/pact-ruby-standalone-e2e-example/commit/71a985b785fa3f7a01ed5762c3fa5648c10b54b9)).

Can you

[2020-04-25 00:19] #55 closed

[2020-04-30 16:18] pcwinters commented on #55
@ChengLiPP, I came across the same problem and had to look into pact's spec/test files to find that it works if you drop the equals sign when adding the CLI option

use
`--custom-provider-header "Authorization: ABC"`
instead of:
`--custom-provider-header="Authorization: ABC"`

[2020-04-30 16:25] ChengLiPP commented on #55
@pcwinters I remember trying both and neither worked, I was using the binary `pact-verifier` that comes from pact-python instead of the original ruby implementation and Beth identified it being a problem with the python wrapper.
Elliott opened a PR to address the issue https://github.com/pact-foundation/pact-python/pull/134

[2020-04-30 16:29] pcwinters commented on #55
@ChengLiPP I've reproduced this using the latest docker CLI image. I don't have a reproducible project to share, but basically I'm running this
[code]
As far as I understand, none of the above involves python. Rather, the docker image uses this project.

[2020-04-30 16:34] ChengLiPP commented on #55
Thank you for the example. Yes starting with the python CLI was a mistake 😄 my colleage also told me he didn't run into issues with the Docker image. But I'm glad my hair-scratching picked out a small bug for the next guy that stares at this and wonders about the meaning of life.

[2020-04-30 17:17] ChengLiPP commented on #55
@pcwinters I got it working with the docker CLI, thanks a lot 👍

[2020-08-31 15:21] alexfdz commented on #26
@mefellows we are facing this issue. Are you aware of any workaround?

[2020-08-31 23:02] bethesque commented on #26
When the output is set to json, the normal output stream gets sent to stderr instead of stdout to fix this exact problem. https://github.com/pact-foundation/pact-ruby/blob/master/lib/pact/cli/run_pact_verification.rb#L90

I can't think how this is happening.

[2020-09-01 04:51] mefellows commented on #26
@alexfdz I don't believe this is an issue for pact-go anymore - can you please raise an issue at https://github.com/pact-foundation/pact-go/issues if it still is?

[2020-11-13 14:29] lt-mayonesa opened #61 "PactSpec v3 not supported?"
Hi, i'm having the following issue ¿what am i missing?

 WARN: Ignoring unsupported matchers [{"match"=>"number"}] for path $['amount']
 WARN: Ignoring unsupported combine AND for path $['amount']
 WARN: Ignoring unsupported matchers [{"match"=>"timestamp", "timestamp"=>"yyyy-MM-dd'T'HH:mm:ss"}] for path $['expires_at']
 WARN: Ignoring unsupported combine AND for path $['expires_at']

[full_log.tx

[2020-11-13 23:09] bethesque commented on #61
v3 is not supported yet, sorry.

[2020-11-13 23:27] Lt-Mayonesa commented on #61
Which is the latest supported? I'm having a similar issue with a v2 pact.

pd: there's a section in the README with [something about v3](https://github.com/pact-foundation/pact-provider-verifier#pact-specification-v3-provider-state-support). That's a bit confusing.

Thanks in advance!

[2020-12-11 22:37] mefellows opened #63 "Chore: migrate away from TravisCI"
TravisCI (org) is dropping support for OSS builds at the end of this month, meaning they must be transferred to travis-ci.com, which uses a credit system. Builds may fail (and already are) if the number of credits is exhausted within the month.

We are recommending switching to GH Actions, but the choice of CI provider is up to the project maintainer.

See also:

https://mailchi.mp/3d439eeb1098/tr

[2020-12-22 12:14] bogdbo commented on #43
Thank you  for the update @bethesque!

[2021-02-02 04:40] TimothyJones opened #66 "Expose teardown hooks to the CLI"
Per discussion on https://github.com/pact-foundation/pact-js/pull/529 , it would be useful if we could expose teardown hooks for state handlers when we're invoking the verifier via the standalone in pact-node.

This could possibly be implemented as part of the payload to the state handler endpoint?

[2021-07-14 17:47] KesarimangalamUmasankarS opened #70 "PACT Provider+Kafka issue - java.lang.NoClassDefFoundError: scala/collection/GenTraversableOnce"
Hi,
I created some PACT provider tests and they were all working fine until one of my colleague created some unit tests including the EmbeddedKafkaBroker. After this, the application build is failing and couldnt run any Unit Tests. Below is the error.  (I use IntelliJ IDE).

java.lang.IllegalStateException: Failed to load ApplicationContext
	at org.springframework.test.context.cache.DefaultCacheAw

[2021-07-14 18:16] #70 closed

[2021-07-14 18:17] KesarimangalamUmasankarS commented on #70
Duplicate of https://github.com/pact-foundation/pact-jvm/issues/1400

[2021-07-23 11:40] mefellows opened #71 "`--verbose` does not display http log information when given a direct URL"
Whilst debugging an issue for the Pact .NET provider, I wanted to see the HTTP details due to an authentication failure.

When given a direct URL however, no extra HTTP debugging info is present.

Example with direct URL:
[code]

Example when you pass in the broker dettails:
[code]

[2021-07-25 00:36] bethesque commented on #71
Hm. The direct URL will be the old code, which won't have the verbose flag passed through to it. See if I can wire it up.

[2021-07-27 07:02] bethesque commented on #71
Fixed in https://github.com/pact-foundation/pact-support/commit/3288b818942f460cb7909f22687787a2b77f5e37

New pact-support has just been released. Standalone should be out soon.

[2021-07-27 08:48] mefellows commented on #71
Awesome, thank you Beth!

[2021-07-28 05:54] #71 closed

[2021-09-08 15:58] prattjo opened #72 "URI no longer passed or recognized by pact-ruby dependency after recent updates"
Hello,

Our CI pipeline has been using pact-provider-verifier for several years, but starting Tuesday, September 7, 2021, 7:22 AM EST, our pact-provider-verifier began to fail in all builds with the following error:

`+ pact-provider-verifier --pact-broker-base-url=[PACT PROVIDER URI]'--provider=Platform API' --provider-base-url=[API URI] --broker-username=[USERNAME] '--broker-password=[PASSWORD]'

[2021-09-08 17:53] prattjo commented on #72
We have temporarily solved the issue by bundling pact 1.57 in our CI gem install, and forcing the specific version. This will prevent us from keeping up to date with releases, but it confirms that version 1.59 of pact-ruby introduced the error.

[2021-09-08 23:30] bethesque commented on #72
I've fixed this issue in 1.36.0 of the verifier. Please update.

[2021-09-08 23:30] #72 closed

[2021-11-16 11:46] basickarl opened #73 "is this the pact_verifier_cli code repo?"
Hi! Quick question really:

This repo and the https://docs.pact.io/implementation_guides/rust/pact_verifier_cli/#command-line-interface CLI tool, is it the same tool or are they different implementations?

[2021-11-16 11:52] basickarl commented on #73
Ok found the answer: https://docs.pact.io/implementation_guides/cli/#native-binary-new

[2021-11-16 11:52] #73 closed

[2021-11-19 10:04] StefanSmithGousto opened #121 "Ruby pact-provider-verifier --enable-pending returns non-zero exit code if pending pact provider state setup fails"
## Observed behaviour
The Ruby `pact-provider-verifier` tool (with `--enable-pending` on) returns a non-zero exit code if `POST` to Provider States Setup URL responds with a 500 status when verifying a pending pact.

## Expected behaviour
The `--enable-pending` flag should suppress both verification _and_ provider state setup failures for pending pacts. It only seems to suppress the former. This m

[2021-12-09 15:09] NicolasAgra opened #74 "Exception with verifier"
Hello Folks, I am running into this problem when trying to perform an execution with pact verifier. The input consumer-provider.json was created by pact-python.

[code]
Here is the consumer file (I had to add .txt extension in order github let me upload the file)
[consumer-provider.json.txt](https://github.com/pact-foundation/pact-provider-verifier/files/7686134/consumer-provider.json.txt)

[2021-12-10 03:01] bethesque commented on #74
`"description": null,` is causing the problem. That's a mandatory field. It's unfortunate that it wasn't enforced on the consumer side.

[2021-12-10 12:23] NicolasAgra commented on #74
Thanks @bethesque , I added `.given` and `.upon_receiving` to the missing pact definition and it worked. Maybe we can leave this issue open to catch the error and return a controlled message.

[2021-12-10 22:24] mikegeeves commented on #74
@bethesque when you say enforced on the consumer side, where do you mean?

Having a quick look through, in the pact-python consumer code it's checking for the presence of request/response/description but this check only happens when checking if all fields are present for an interaction, and if so create a new empty interaction on the list (hence the one complete, one incomplete). There isn't a fin

[2021-12-16 22:15] bethesque commented on #74
I was thinking the DSL code could raise an error if the description was not provided, but yes, we could put in validation in the mock server. Would just need to make sure the error was shown nicely to the user.

[2021-12-20 13:11] mikegeeves commented on #74
I like the idea of as much as possible coming from one place to avoid dupes and mismatch (re changing default options, new options etc). The pact-python example currently raises an exception with the message if a 200 doesn't come back, so that should be ok-ish to make visible. That said, since description is spec rather than behaviour I suppose that's pretty solidly defined so shouldn't change any

[2022-01-12 15:40] cyuanli opened #75 "RegEx is matched even though it shouldn't be"
Hi everyone,

I'm rather new to Pact and still learning about its inner workings, so I'm not sure if I'm reporting this in the right repository. The issue I get is the following:

`MISSION_e74c7e876e9a3f29f25068929085` is matched with `^[0-9a-zA-Z-]+` even though I forgot to specify the underscore in the string. Removing the capital letters (`^[0-9a-z]+`) fails the test, as expected:

[code]

But

[2022-06-15 02:41] #38 closed

[2022-06-15 02:41] #50 closed

[2022-06-15 02:43] #33 closed

[2022-06-15 02:43] #63 closed

[2022-09-13 06:07] slt commented on #49
Hi, I am very keen to get this working, and will pick up where @hhhonzik left off if needed, looks like the pull requests were fairly far along?

[2022-09-15 07:06] slt commented on #49
I have added the remaining generators and some tests to the pact-ruby project

https://github.com/pact-foundation/pact-ruby/pull/273